@import "fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
	body {
		@apply text-sm font-poppins leading-normal;
	}
	a {
		@apply text-primary;
	}
}

p {
	margin-block: 0.5rem;
	line-height: 1.5;
	font-size: 14px;
}